# Model weights
*.pth
*.pt

# Dataset
data/
dataset/

# Images (optional)
*.jpg
*.png
*.pth
# Ignore datasets
data/
seg_data/

# Ignore model weights
*.pth

# Ignore Python cache
__pycache__/

# Ignore Mac system files
.DS_Store

# Keep selected shared checkpoints in git
!best_model.pth
!seg_model.pth
!seg_model_deeplabv3plus.pth
